[chat-date] {
    color: rgba(0,0,0,0.59);
    font-size: 10px;
    color: #FE5F55;
    font-family: 'Roboto', sans-serif;
}
[chat-name] {
    margin-bottom: 5px;
    font-size: 16px;
    color: #797979;
    font-family: 'Roboto', sans-serif;
}
[chat-content] {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
[chat-app] {
    margin-bottom: 30px;
}
[chat-part] {
    border-left: 2px solid #FE5F55;
    padding-left: 11px;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #009ED8;
    border: none;
    color: white;
    transition: .2s;
}
.button:before,
.button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 7px;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
}
.button:before {
    background: rgba(0, 0, 0, 0.1);
}
.button:hover {
    background: #0079a5;
}
.button:active,
.button:focus {
    background: #002e3f;
    outline: none;
}
.button {
    min-width: 15em;
}
.arrow {
    background: #FE5F55;
}
.arrow:hover {
    background: #fe2f22;
    cursor: pointer;
}
.arrow:active,
.arrow:focus {
    background: #b90c01;
}
.arrow:after {
    content: "🖂";
}
.arrow:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
}
.phone {
    background: #139675;
}
.phone:hover {
    background: #0d6952;
}
.phone:active,
.phone:focus {
    background: #083b2e;
}
.phone:after {
    content: "\F095";
}
.phone:hover:after {
    -webkit-animation: wiggle .05s alternate ease infinite;
    animation: wiggle .05s alternate ease infinite;
}
.email {
    background: #C673B3;
}
.email:hover {
    background: #b74f9f;
}
.email:active,
.email:focus {
    background: #963d82;
}
.email:after {
    content: "\F0E0";
}
.email:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: .1em;
}
.search:after {
    content: "\f002";
}
.search:hover:after {
    -webkit-animation: none;
    -webkit-transform: scale(1.4);
    animation: none;
    transform: scale(1.4);
}
@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(3px);
    }
}
@-webkit-keyframes wiggle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(30deg);
    }
}
@keyframes bounceright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3px);
    }
}
@keyframes wiggle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
}
textarea {
    margin-top: 0;
    margin-left: 0;
    max-width: 400px;
    max-height: 100px;
    min-width: 300px;
    min-height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    display: block;
    margin-bottom: 10px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    border-bottom: 2px solid #FE5F55;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #00000000;
    transition: .2s;
}


textarea:focus {
    outline-width: 0;
    border-bottom: 2px solid #b90c01;
}
body{
    margin: 0;
    background-color: #525252;
}
.box-chat {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    max-width: 350px;
    padding: 10px;
    padding-left: 20px;
    background-color: #000000cf;
}
.box-users{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
    max-width: 150px;
    padding: 10px;
    padding-left: 20px;
    background-color: #000000cf;
}
.wrap-mess {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}